
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
padding: 0;
margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

/* ###########utility classes############ */
.container{
    max-width: 1200px;
    width: 90%;
    margin:  auto;
    /* margin-right: 2rem; */
}

/* #########navbar-styling######### */
/* for desktop mode */


.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
    
}
.navbar{
    /* box-shadow: 0px 5px 10px 0px #d0cece; */
    position:fixed;
    width: 100%;
    background:#e7e7ea;
    /* color: #000; */
    opacity:0.95 ;
    z-index: 999;
    /* border: 1px solid ; */
    margin: auto;
}
.navbar-container{
    display: flex;
    justify-content:space-evenly;
    height: 64px;
    align-items: center;

}
.menu-items{
    order: 2;
    display: flex;

}
.menu-items li{
    list-style: none;
    margin-left: 2rem;

    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight:2 ;
}
/* .register{
    margin:0px 40px 0px 40px;
} */
.navbar a{
    
    color:#033253;
text-decoration: none;
font-weight: 500;
transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color:  #146eae;
}
/* #########showcase-styling######## */
.showcase-area{
    height: 100vh;
    background:url("./image/btirt-building3.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
}

/* #######styling-showcase container######### */

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2.6rem;
    box-sizing: border-box;
}
.showcase-container h1{
    font-size: 4rem;
    color: #033253;
    /* background-color: rgb(236, 235, 235); */
    padding: 2px 10px 5px 10px;
    width: 30%;
    text-align: center;
    font-weight: 700;
    background-color: white;

}
.showcase-container p{
    font-size: 2.5rem;
    color: #033253;
    background-color: white;
    /* background-color: rgb(236, 235, 235); */
    padding: 5px 10px 10px 10px;
    /* width: 50%; */
    

}
/* #########about-styling######### */

#about{
    padding-top: 80px ;
    font-size: 2.5rem;
    height: 100vh;
    /* background-size:cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-attachment: fixed;
    /* background:url(/image/DeWatermark.ai_1733851920285.png); */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity:1;
    background-color: #f5f5f7;

}
.about-text{
    color:black;

}
.heading-1{
    margin-left: 25px;
}
.small{
    margin-bottom: 10px;

    color: #033253;
}
/* ##########topics-styling########### */
#topics{
    padding-top: 80px;
    font-size: 2rem;
    flex-direction: column;

    
}
.heading{
    margin-bottom:10px;
    color: #033253;
}
.list{
    margin-left: 25px;
}
#topics{
    /* height: 100vh; */
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
color:black;
background-color: #f5f5f7;
}


/* ##########important-dates-styling########### */

#Important-dates{
    padding-top: 80px;
    font-size: 2rem;
}
.blue-ink {
    color: #0068b1;
    
}
#Important-dates{
    /* height: 100vh; */
flex-direction: column;
/* background:url("/image/DeWatermark.ai_1733851920285.png"); */
background-size:cover;
background-position:center;
background-repeat: no-repeat;
background-attachment: fixed;
color: black;
background-color: #f5f5f7;
}
/* ##########committees-styling########### */
#committees{
    padding-top: 80px;
    font-size: 2rem;
flex-direction: column;
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position: center; 
background-repeat: no-repeat;
background-attachment: fixed;
color: black;
background-color: #f5f5f7;
}
#committees .img-2 {
    width: 200px;
    height: 300px;
    /* margin: 30px, 20px, 30px, 20px; */
    border: 1px solid black;
}
.image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.heading-4{
    text-align: center;
    color: #033253;
}
.row-1{
    display: flex;
    gap: 200px;
    justify-content: center; /* Center images horizontally */
}
.row-2 {
    display: flex;
    gap: 100px;
    justify-content: center; /* Center images horizontally */
}
.row-3 {
    display: flex;
    gap: 80px;
    justify-content: center; /* Center images horizontally */
}
.image{
    text-align:center ;
    background-color:#efeded;
    width: auto;
    height: 350px;
    margin-left:30px ;
    justify-content: space-evenly;
    box-sizing: border-box;

}
/* .row-3 {
    display: flex;
    /* gap: 20px; */
 /* Center images horizontally */

/* .row-4 {
    display: flex;
    gap: 10px;
    justify-content: space-evenly /* Center images horizontally */


.img-2 {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
}

/* ##########keynotes-styling########### */
#keynotes{
    padding-top: 80px;
    font-size: 2rem;
    flex-direction: column;
}
#keynotes{
    /* height: 100vh; */
/* background:url("image/AdobeStock_594968766_Preview-transformed.jpeg"); */
background-size:cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
color:black;
background-color: #f5f5f7;
}
.last-div{
    margin-bottom: 30px;
}
/* .wp-block-heading2{
    padding-left: 30px;
    font-size: 3.5rem;
} */
.small-1{
    margin-left: 30px;
    color: #033253;
    
}
.bio-content{
    border: 2px solid white;
    padding: 16px;
    margin: 15px;
    box-sizing: border-box;
    /* display: flex; */
    flex-direction:column;
background-color: white;
}
#keynotes .img-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}
#keynotes .Img {
    width: 200px;
    height: auto;
    margin: 15px 100px 20px 30px;
}

#keynotes .Img1 {
    width: 200px;
    height: auto;
    margin: 15px 100px 20px 30px;
    border: 1px solid black;
}


/* ##########guidelines-styling########### */

#guidelines{
    padding-top: 80px;
    font-size: 2rem;
    /* flex-direction: column; */
    display: flex;
}
#guidelines{
    /* height: 100vh; */
background-size:cover;
background-position: center;
background-repeat: no-repeat;
flex-direction: column;
background-attachment: fixed;
color: black;
background-color: #f5f5f7;
}
.heading-2{
    /* margin-top:10px; */
    color: #033253;
}
.Copyright-form{
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    /* flex-direction: column; */
    /* display: flex; */


}
/* ##########contact-styling########### */
#contact{

    font-size: 2.5rem ;
    display: flex;
}
#contact{
    height: 100vh;
/* background:url("/image/DeWatermark.ai_1733851920285.png"); */
background-size:cover;
background-position: center;
background-repeat: no-repeat;
flex-direction: column;
background-attachment: fixed;
background:#f5f5f7;
color: black;
}
.contact-text{
    margin-top: 120px;

}


/* #########registration-styling########### */
#registration{
    padding-top: 80px;
    font-size: 2rem;
    flex-direction: column;
    /* height: 100vh; */
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
color: black;
background-color: #f5f5f7;
}


/* #########@media queries##########     */

/* @media (max-width: 768px) {

    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }
    .navbar-container{
        display: block;
        position:relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"]{
        display: block;
        position: absolute;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: block;
        position: absolute;
        height: 32px;
        width: 40px;
        background:#e7e7ea;
        display: block;
        top: 20px;
        left: 20px;
        z-index:2;
        display: flex;
        flex-direction: column ;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        background: #033253;
        border-radius: 10px;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items{
        padding-top: 100px;
        background:#e7e7ea;
        height: 100vh;
        max-width: 300px;
        transform:translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.8s ease-in-out;
        box-shadow: 5px 0px 5px 0px #f0efef;
    }

    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
} 

/* ############for small screen########## */
/* @media (max-width:500px) {
    html{
        font-size: 50%;
        /* flex-wrap: wrap; */
    
    /* img{    text-align: center;
        width: 15px;
        height: auto;
        margin: 30px;
        display: flex;
        padding: 0px 200px 0px 100px;
    } */

/* .container .menu-items .navbar .navbar-container {
    float: none;
    display: block;
    width: 100%;
}

#committees .row{
    flex-direction: column;
    
}
} */

/* ########landscape mode########### */
/* @media (orientation : landscape) and (max-height:500px) {
    .showcase-area{
    
        height: 50vmax;
    }
    
} */



