
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
padding: 0;
margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

/* ###########utility classes############ */
.container{
    max-width: 1200px;
    width: 90%;
    margin:  auto;
    /* margin-right: 2rem; */
}

/* #########navbar-styling######### */
/* for desktop mode */


.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
    
}
.navbar{
    /* box-shadow: 0px 5px 10px 0px #d0cece; */
    position:fixed;
    width: 100%;
    background:rgb(236, 235, 235);
    /* color: #000; */
    opacity:0.95 ;
    z-index: 999;
    border: 1.5px solid rgb(254, 250, 250);
}
.navbar-container{
    display: flex;
    justify-content:space-evenly;
    height: 64px;
    align-items: center;

}
.menu-items{
    order: 2;
    display: flex;

}
.menu-items li{
    list-style: none;
    margin-left: 2rem;

    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight:2 ;
}
/* .register{
    margin:0px 40px 0px 40px;
} */
.navbar a{
    
    color:#033253;
text-decoration: none;
font-weight: 500;
transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color:  #146eae;
}
/* #########showcase-styling######## */
.showcase-area{
height: 100vh;
    background:url("./image/btirt-building3.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* #######styling-showcase container######### */

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2.6rem;
    box-sizing: border-box;
}
.showcase-container h1{
    font-size: 4rem;
    color: white;
    /* background-color: rgb(236, 235, 235); */
    padding: 2px 10px 5px 10px;
    width: 30%;
    text-align: center;
    font-weight: 700;

}
.showcase-container p{
    font-size: 2.5rem;
    color: white;
    /* background-color: rgb(236, 235, 235); */
    padding: 5px 10px 10px 10px;
    /* width: 50%; */
    

}
/* #########about-styling######### */

#about{
    padding-top: 80px ;
    font-size: 2.5rem;
    height: 100vh;
    /* background-size:cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-attachment: fixed;
    background:url(/image/DeWatermark.ai_1733851920285.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity:1;

}
.about-text{
    color:white;

}
/* ##########topics-styling########### */
#topics{
    padding-top: 80px;
    font-size: 2rem;
    flex-direction: column;

    
}
#topics{
    /* height: 100vh; */
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

color:white
}


/* ##########important-dates-styling########### */

#Important-dates{
    padding-top: 80px;
    font-size: 2rem;
}
.blue-ink {
    color: #0068b1;
    
}
#Important-dates{
    /* height: 100vh; */
flex-direction: column;
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position:center;
background-repeat: no-repeat;
background-attachment: fixed;
color: black;
}
/* ##########committees-styling########### */
#committees{
    padding-top: 80px;
    font-size: 2rem;

}
#committees{
flex-direction: column;
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position: center; 
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
}
/* ##########keynotes-styling########### */
#keynotes{
    padding-top: 100px;
    font-size: 2rem;
    flex-direction: column;
}
#keynotes{
    /* height: 100vh; */
/* background:url("image/AdobeStock_594968766_Preview-transformed.jpeg"); */
background-size:cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
color:black;
background-color: #aaa;
}
.last-div{
    margin-bottom: 30px;
}
.wp-block-heading2{
    padding-left: 30px;
    font-size: 3.5rem;
}
.bio-content{
    border: 2px solid white;
    padding: 16px;
    margin: 30px;
    box-sizing: border-box;
    /* display: flex; */
    flex-direction:column;
background-color: white;
}

.img1{
    /* text-align: center; */
    width: 15px;
    height: auto;
    margin: 30px;
    display: flex;
    padding: 0px 200px 0px 100px;
}

/* ##########guidelines-styling########### */

#guidelines{
    padding-top: 100px;
    font-size: 2rem;
    /* flex-direction: column; */
    display: flex;
}
#guidelines{
    /* height: 100vh; */
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position: center;
background-repeat: no-repeat;
flex-direction: column;
background-attachment: fixed;
color: white;
}
.Copyright-form{
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    /* flex-direction: column; */
    /* display: flex; */


}
/* ##########contact-styling########### */
#contact{

    font-size: 2.5rem ;
    display: flex;
}
#contact{
    height: 100vh;
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position: center;
background-repeat: no-repeat;
flex-direction: column;
background-attachment: fixed;
color: white;
}
.contact-text{
    margin-top: 120px;
   
}


/* #########registration-styling########### */
#registration{
    padding-top: 80px;
    font-size: 2rem;
    flex-direction: column;
    /* height: 100vh; */
background:url("/image/DeWatermark.ai_1733851920285.png");
background-size:cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
}
/* ##########Publication########### */
/* #Publication{
    font-size: 2.5rem ;
    display: flex;
    height: 100vh;
    background:url("image/Back ground 2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-attachment: fixed;
    color: white;
} */


/* #########@media queries##########     */

@media (max-width: 768px) {

    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }
    .navbar-container{
        display: block;
        position:relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"]{
        display: block;
        position: absolute;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: block;
        position: absolute;
        height: 32px;
        width: 40px;
        background:#f54f39;
        display: block;
        top: 20px;
        left: 20px;
        z-index:2;
        display: flex;
        flex-direction: column ;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 10px;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items{
        padding-top: 100px;
        background: #f54f39;
        height: 100vh;
        max-width: 300px;
        transform:translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.8s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }
      .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
} 

/* ############for small screen########## */
@media (max-width:500px) {
    html{
        font-size: 50%;
        /* flex-wrap: wrap; */
    }
    img{    text-align: center;
        width: 15px;
        height: auto;
        margin: 30px;
        display: flex;
        padding: 0px 200px 0px 100px;
    }

.container .menu-items .navbar .navbar-container {
    float: none;
    display: block;
    width: 100%;
   
}
}
/* ########landscape mode########### */
@media (orientation : landscape) and (max-height:500px) {
    .showcase-area{
    
        height: 50vmax;
    }
    
}
